.filter-block{
    margin: auto;
    width: 80%;
    display: flex;
    padding: 10px;
}
.block-item{
    display: flex;
    padding:0px 5px;
}

.filter-block h3{
    margin: auto;
    align-items: center;
}
.filter-block img{
    height: 30px;
}
.expand-less{
    display:none;
}


.category-options ul,.onseason-options ul{
    display: flex;
    justify-content: center;
    background-color: #fffcf7;
    margin: 5px;
}

.category-options ul li{
    list-style: none;
    margin: 10px;
    
}
.category-options ul li a{
    text-decoration: none;
}

@media screen and (max-width:1250px) {
    .category-options{
        display: none;
    }
}