.filter-block{
    margin: auto;
    width: 80%;
    display: flex;
    padding: 10px;
}
.block-item{
    display: flex;
    padding:0px 5px;
}

.filter-block h3{
    margin: auto;
    align-items: center;
}
.filter-block img{
    height: 30px;
}
.expand-less{
    display:none;
}


.category-options ul,.onseason-options ul{
    display: flex;
    background-color: #fffcf7;
    margin: 5px;
}