*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#f6f1eb ;
}
nav,.navbar,.bar-links,.bar-logo,.clear{
    justify-content: center;
    align-items: center;
    display: flex;
}
.sidebar{
    justify-content: center;
    display: flex;
}

nav{
    height: 75px;
}
.navbar{
    width: 85%;
}

.bar-links{
    cursor: pointer;
    flex:none;
    margin:10px;
}

.bar-img{
    height: 24px;
    margin: 5px;
} 
.bar-logo{
    flex:auto;
    align-items: center;
}

.logo{
    height: 51px;
}

.sidebar{
    position: absolute;
    left: 0px;
    width: 510px;
    height: 100vh;
    top: 0px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}
.clear{
    padding: 20 0px;
    margin-top: 20px;
    display: flex;
}
.clear-img{
    height: 31px;
}
.clear-p{
    font-size: 30px;
}

.nav-links{
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
    padding: 20px;
}
.nav-links a{
    color: rgb(68, 68, 68);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: light;
    font-size: 24px;
    
}

@media screen and (max-width:1024px) {
    .bar-p{
        display: none;
    }
}

@media screen and (max-width:768px) {
    
}


.sidebar-active{
    transform: translateX(0%);
}


