/* section共用 */
section{
    margin: auto;
}
.section-news{
    width: 70%;
    background-color: #fffcf7;
}
.section-products{
    width: 72.7%;
}
.section-theme{
    width: 72.7%;
}
.section-detail{
    width: 70%;
}
.section-title{
    font-weight: lighter;
    display: flex;
    padding: 20px 0px;
}
.section-filter{
    display: flex;
    padding: 15px 0px;
    font-weight: lighter;
}
.section-filter h2{
    padding-bottom: 15px;
    padding-right: 10px;
}
/* 新消息的section */
.section-p{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.news-img{
    margin: auto;
    width: 70%;
    padding-bottom: 50px;
}
.news-img img{
    width: 100%;
}
/* 產品列表的section */
.products{
    display:flex;
    justify-content: center;
    flex-wrap:wrap ;
}
.product{
    width:21.25%;
    margin: 0 1.875%;
    flex: none;
}
.product-img img{
    width: 100%;
}
/* 主題的section */
.theme{
    display:flex;
    justify-content: center;
    flex-wrap:wrap ;
}
.theme-left{
    width: 46.25%;
    margin:0 1.875%;
}
.theme-left img{
    width: 100%;
}
.theme-right{
    width: 50%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap ;
}
.t-product{
    width:42.5%;
    margin:0 3.75%;
    flex: none;
}
.product-title{
    margin-bottom: 7.5%;
    text-align: left;
}


@media screen and (max-width:1250px) {
    .product{
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    
}