section{
    width: 70%;
    margin: auto;
    background-color: #fffcf7;
    align-items: center;

}

section div {
    width: 80%;
    /* background-color: pink; */
    margin: auto;
    text-align: center;
}
.news{
    width: 100%;
}
section div h2{
    margin-top: 50px;
}