{% extends "layout.html"%}
{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/category.css">
{% endblock%}

{% block main %}

<div class="title-filter">
    <div class="filter-block">
        <!-- <h1 class="section-title">Our cave of wonders</h1> -->
        <h2 class="section-title">{{categoryAll[type]["title"] }}</h2>
    </div>
</div>
<!-- <div class="section-filter">
    <div class="filter-block">
        <div class="block-item">
            <h3>類別</h3>
            <img src="/static/img/layout/expand_more.png" alt="" class="expand-more">
            <img src="/static/img/layout/expand_less.png" alt="" class="expand-less">
        </div>
        <div class="block-item">
            <h3>最新/經典</h3>
            <img src="/static/img/layout/expand_more.png" alt="" class="expand-more">
            <img src="/static/img/layout/expand_less.png" alt="" class="expand-less">
        </div>
    </div>
</div> -->
<div class="category-options" >
    <ul>
        {% for item in categoryinIndex %}
            <li>
                <a href="{{categoryAll[item]['url']}}">
                    {{categoryAll[item]['title']}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- <div class="onseason-options">
    <ul>
        {% for item in sideBarOnly %}
            <li>
                <a href="{{categoryAll[item]['url']}}">
                    {{categoryAll[item]['title']}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div> -->
    

 
<section class="section-products">  
    <div class="products">
        {% for item in products %}
        <div class="product">
            <a href="{{url_for('product',id=item.id)}} ">
                <div class="product-img">
                    <img src="{{categoryDetail[item.detail]['path']}}{{item.url}}.jpg" alt="{{categoryDetail[item.detail]['alt']}}">
                </div>
                <div class="product-title">
                    <p>{{item.name}}</p>
                    <p>{{item.price}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock%}

{% block js %}

{% endblock%}


