{% extends "layout.html"%}
{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/category.css">
{% endblock%}

{% block main %}

<div class="title-filter">
    <div class="titlefilter-block">
        <h1 class="section-title">Our cave of wonders</h1>
        <div class="section-filter">
            <h2>類別</h2>
            <h2>最新/經典</h2>
        </div>
    </div>
</div>
 
<section class="section-products">  
    <div class="products">
        {% for item in products %}
        <div class="product">
            <a href="{{url_for('product',id=item.id)}} ">
                <div class="product-img">
                    <img src="{{categoryDetail[item.detail]['path']}}{{item.url}}.jpg" alt="{{categoryDetail[item.detail]['alt']}}">
                </div>
                <div class="product-title">
                    <p>{{item.name}}</p>
                    <p>{{item.type}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock%}

{% block js %}

{% endblock%}


