{% extends "layout.html"%}
{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/category.css">
{% endblock%}

{% block main %}
<section class="section-products">
    <h1 class="section-title">Our cave of wonders</h1>
    <div class="products">
        {% for item in products %}
        <div class="product">
            <a href="{{url_for('product',id=item.id)}} ">
                <div class="product-img">
                    <img src="https://assets.hermes.com/is/image/hermesedito/P_11_CH2_WSILK_003799S03_?fit=wrap%2C0&wid=360" alt="">
                </div>
                <div class="product-title">
                    <h4>{{item.url}}</h4> 
                    <p>{{item.name}}</p>
                    <p>{{item.type}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
  
  
        <div class="product">
            <div class="product-block">
                <div class="product-img">
                    <img src="https://assets.hermes.com/is/image/hermesedito/P_11_CH2_WSILK_003799S03_?fit=wrap%2C0&wid=360" alt="">
                </div>
                <div class="product-title">
                    <p>Women silk</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}

{% block js %}

{% endblock%}


