{% extends "backstage.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/add.css">
{% endblock%}
{% block main %}
<a class="back-btn" href="{{ url_for('productlist') }}">
    <h2>回到商品編輯列表</h2>
</a>
<section id="form">
    <form action="{{ url_for('edit',id=product.id) }}" method="POST">
        <div>
            <div class="form-container">
                <label for="url">Photo</label>
                <input id="url" name="url" type="text" placeholder="圖片來源" value="{{product.url}}">
            </div>

            <div class="form-container">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" placeholder="名稱" value="{{product.name}}">
            </div>

            <div class="left">
                <legend>最新創作/經典不敗</legend>
                <div>
                    <input id="newtype" type="radio" name="onseason" value="newtype" {% if product.onseason=='newtype'
                        %} checked {% endif %}>
                    <i class="fas fa-check-circle"></i>
                    <label for="newtype">最新創作</label>
                </div>
                <div>
                    <input id="classictype" type="radio" name="onseason" value="classictype" {% if
                        product.onseason=='classictype' %} checked {% endif %}>
                    <i class="fas fa-check-circle"></i>
                    <label for="classictype">經典不敗</label>
                </div>
                <div>
                    <input id="normaltype" type="radio" name="onseason" value="normaltype" {% if
                        product.onseason=='normaltype' %} checked {% endif %}>
                    <i class="fas fa-check-circle"></i>
                    <label for="normaltype">一般</label>
                </div>
            </div>
        </div>


        <div class="categoryDetail">
            {% for type in categoryPureType %}
                <legend>{{categoryAll[type]["title"]}} </legend>
                {% for item in categoryDetail%}
                    {% if categoryDetail[item]["type"]==type %}
                        <div class="radio-item">
                            <input type="radio" id={{item}} name="detail" value={{item}} {% if product.detail==item %} checked {% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for={{item}}>{{categoryDetail[item]["info"]}}</label>
                        </div>
                    {% endif%}
                {% endfor %}
            {% endfor %}

            <div id="form-buttons">
                <button>
                    <a href="{{ url_for('delete',id=product.id) }}">刪除這個商品</a>
                </button>
                <button type="submit">編輯完成</button>
            </div>
        </div>


    </form>
</section>

{% endblock %}

{% block js %}

{% endblock %}