{% extends "layout.html"%}
{% block css %}
<link rel="stylesheet"  href="/static/css/style.css">
{% endblock%}
    
{% block main %}

<section class="section-news">
    <h1 class="section-title">{{homePage.news["title"]}}</h1>
    <div class="section-p">{{homePage.news["paragraph"]}}</div>
    <div class="news-img">
        <img src="{{homePage.news['src']}}.jpg" alt="{{homePage.news['alt']}}">
    </div>
</section>

<section class="section-theme">
    <h1 class="section-title">{{homePage.onseason["title"]}}</h1>
    <div class="section-p">{{homePage.onseason["paragraph"]}}</div>
    <div class="theme">
        <div class="theme-left">
            <a href="/category?type=mother">
                <img src="{{homePage.onseason['src']}}.jpg" alt="{{homePage.onseason['alt']}}">
            </a>
        </div>
        <div class="theme-right">
            {% for item in onseason%}
            <div class="t-product">
                <a href="{{url_for('product',id=item.id)}} ">
                    <div class="product-img">
                        <img src="{{categoryDetail[item.detail]['path']}}{{item.url}}.jpg" alt="">
                    </div>
                    <div class="product-title">
                        <p>{{item.name}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section-products">
    <h1 class="section-title">我們的作品集</h1>
    <div class="products">
        {% for item in categoryinIndex %}
            <div class="product">
                <a href="{{categoryAll[item]['url']}}">
                    <div class="product-img">
                        <img src="{{categoryAll[item]['src']}}.jpg" alt="">
                    </div>
                    <div class="product-title">
                        <p>{{categoryAll[item]["title"]}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>




{% endblock%}

{% block js %}

{% endblock%}