<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Una's Floral Designs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="headerLeft">
            <div class="headerCell">
                <img src="/static/img/menu.png" alt="愛妤花店商品" class="menu">
                <div class="menu-str">Menu</div>
                <ul class="nav-links">
                    <li>
                        <a href="#">捧花</a>
                    </li>
                    <li>
                        <a href="#">花束</a>
                    </li>
                    <li>
                        <a href="#">玻璃罩</a>
                    </li>
                    <li>
                        <a href="#">盆花</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headerCenter">
            <div class="headerCell">
                <div >
                    <img src="/static/img/Una.png" alt="愛妤花店logo" class="logo">
                </div>
            </div>
        </div>
        <div class="headerRight">
            <div class="headerCell">
                <div>About</div>
                <div>Contact Us</div>
            </div>
        </div>
    </header>

    <section>

    </section>

    <footer>

    </footer>
</body>
</html>