<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Una's Floral Designs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="/static/css/layout.css">
    {% block css %}{% endblock %}
</head>
<body>
    <nav>
        <div class="navbar">

            <div class="bar-links menu">
                <img src="/static/img/menu.png" alt="花店商品" class="bar-img">
                <span class="bar-p"> Menu</span>
            </div>
            <div class="bar-logo">
                <a href="#">
                    <img src="/static/img/Una.png" alt="愛妤花店logo" class="logo">
                </a>
            </div>
            

            <div class="bar-links info">
                <img src="/static/img/info.png" alt="關於花店" class="bar-img">
                <span class="bar-p"> About</span>
            </div>
            <div class="bar-links contact">
                <img src="/static/img/contact.png" alt="聯絡花店" class="bar-img">
                <span class="bar-p"> Contact</span>
            </div>

            <div class="sidebar">
                <div class="sidebar-block">
                    <div class="clear">
                        <img src="/static/img/clear.png" alt="clear" class="clear-img">
                        <span class="clear-p">商品選單</span>
                    </div>
                    <ul class="nav-links">
                        <li>
                            <a href="#">最新創作</a>
                        </li>
                        <li>
                            <a href="#">經典不敗</a>
                        </li>
                       
                        <li>
                            <a href="#">捧花</a>
                        </li>
                        <li>
                            <a href="#">花束</a>
                        </li>
                        <li>
                            <a href="#">玻璃罩</a>
                        </li>
                        <li>
                            <a href="#">盆花</a>
                        </li>
                        <!-- <li>
                            <a href="#">相框</a>
                        </li>
                        <li>
                            <a href="#">花圈</a>
                        </li>
                        <li>
                            <a href="#">胸花</a>
                        </li>
                        <li>
                            <a href="#">擴香石</a>
                        </li> -->
                    </ul>
                </div>   
            </div>
        </div> 
    </nav>


    <main>
        {% block main%}
        {% endblock %}
    </main>

    <footer>

    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    {% block js %}{% endblock %}
    <script src="/static/js/app.js"></script>
</body>
</html>