<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Una's Floral Designs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="/static/css/layout.css">
    {% block css %}{% endblock %}
</head>
<body>
    <nav>
        
        <ul class="nav-links">
            <li>
                <a href="#">最新創作</a>
            </li>
            <li>
                <a href="#">經典不敗</a>
            </li>
           
            <li>
                <a href="#">捧花</a>
            </li>
            <li>
                <a href="#">花束</a>
            </li>
            <li>
                <a href="#">玻璃罩</a>
            </li>
            <li>
                <a href="#">盆花</a>
            </li>
            <li>
                <a href="#">相框</a>
            </li>
            <li>
                <a href="#">花圈</a>
            </li>
            <li>
                <a href="#">胸花</a>
            </li>
            <li>
                <a href="#">擴香石</a>
            </li>
        </ul>
        <img src="/static/img/menu.png" alt="愛妤花店商品菜單" class="menu">
        <img src="/static/img/Una.png" alt="愛妤花店logo" class="logo">
        
    </nav>
    <!-- <header>  
        <div class="headerLeft">
            <div class="headerCell burger">
                <img src="/static/img/menu.png" alt="愛妤花店商品菜單" class="menu">
                <div class="menu-str">Menu</div>
            </div>
            <div class="sidebarMenu">
                <ul class="nav-links">
                    <div class="sidebarLogo">
                        <img src="/static/img/clear.png" alt="clear" class="clear">
                        <h1>商品選單</h2>
                    </div>
                    <li>
                        <a href="#">最新創作</a>
                    </li>
                    <li>
                        <a href="#">經典不敗</a>
                    </li>
                   
                    <li>
                        <a href="#">捧花</a>
                    </li>
                    <li>
                        <a href="#">花束</a>
                    </li>
                    <li>
                        <a href="#">玻璃罩</a>
                    </li>
                    <li>
                        <a href="#">盆花</a>
                    </li>
                    <li>
                        <a href="#">相框</a>
                    </li>
                    <li>
                        <a href="#">花圈</a>
                    </li>
                    <li>
                        <a href="#">胸花</a>
                    </li>
                    <li>
                        <a href="#">擴香石</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headerCenter">
            <div class="headerCell">
                <div >
                    <a href="#">
                        <img src="/static/img/Una.png" alt="愛妤花店logo" class="logo">
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="headerRight">
            <div class="headerCell">
                <img src="/static/img/info.png" alt="about" class="menu">
                <div class="menu-str">About</div>
                
            </div>
            <div class="headerCell">
                <img src="/static/img/contact.png" alt="contact" class="menu">
                <div class="menu-str">Contact</div>
            </div>
        </div>
    </header> -->
    

    <main>
        {% block main%}
        {% endblock %}
    </main>

    <footer>

    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    {% block js %}{% endblock %}
    <script src="/static/js/app.js"></script>
</body>
</html>