{% extends "backstage.html" %}

{% block main %}
<a href="{{ url_for('add') }}">
    <h2>增加商品</h2>
</a>


<section class="section-products">
    <div class="section-title">
        商品列表
    </div>
    <div class="products">
        {% for item in product %}
            <div class="product">
                <a href="{{url_for('edit',id=item.id)}} ">
                    <div class="product-img">
                        <img src="{{categoryDetail[item.detail]['path']}}{{item.url}}.jpg" alt="{{product.alt}}">
                    </div>
                    <div class="product-title">
                        <p>{{item.name}}</p>
                        <p>{{categoryDetail[item.detail]["select"] }}</p>
                        <p>{{categoryOnSeason[item.onseason]}}</p>
                        <p>{{item.price}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
</section>



{% endblock %}