{% extends "layout.html"%}
{% block css %}
<link rel="stylesheet"  href="/static/css/style.css">
<link rel="stylesheet"  href="/static/css/product.css">
{% endblock%}
    
{% block main %}
<section class="section-detail">
    <div class="detail-img">
        <img src="https://assets.hermes.com/is/image/hermesproduct/atout-14-pouch--073476CKBZ-front-1-300-0-720-720_b.jpg" alt="">
    </div>
    <div class="detail-p">
        <h1 class="section-title">Drive sneaker</h1>
    </div>

</section>

{% endblock%}

{% block js %}

{% endblock%}