{% extends "layout.html"%}
{% block css %}
<link rel="stylesheet"  href="/static/css/style.css">
<link rel="stylesheet"  href="/static/css/product.css">
{% endblock%}
    
{% block main %}
<section class="section-detail">
    <div class="detail-img">

        <img src="{{categoryDetail[product.detail]['path']}}{{product.url}}.jpg" alt="{{categoryDetail[product.detail]['alt']}}">
        
    </div>
    <div class="detail-p">
        <h1 class="section-title">{{product.name}} </h1>
        <p>{{product.price}}</p>
        <p>{{categoryDetail[product.detail]["description"]}}</p>
        <p>{{categoryDetail[product.detail]["size"]}}</p>
    </div>

</section>

{% endblock%}

{% block js %}

{% endblock%}