<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>

<body>
  <div class="categoryDetail">
    {% for type in categoryPureType %}
      <legend>{{categoryAll[type]["title"]}} </legend>
      {% for item in categoryDetail%}
        {% if categoryDetail[item]["type"]==type%}
          <input type="radio" id={{item}} name="detail" value={{item}}>
          <i class="fas fa-check-circle"></i>
          <label for={{item}}>{{categoryDetail[item]["info"]}}</label>
        {% endif%}
      {% endfor %}
    {% endfor %}
  </div>
</body>

</html>